<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Games</h1>
    <div>
        <a data-th-href="@{/game(offset=${next})}">
            <h4>Next 30 </h4>
        </a>
    </div>
    <ul>
        <li data-th-each="game: ${listGames}">
            <a data-th-href="@{/game/{gid}(gid=${game.gid})}">
                <span data-th-text="${game.gid}"></span>
                <span data-th-text="${game.name}"></span>
            </a>
        </li>
    </ul>
</body>
</html>